.bar{
    font-size: 30px;
    height: 50px;
    list-style: none;

}
li{
    display:table-cell;
    border:1px dotted black;
    padding: 20px;


}
input{
    width: 90%;
}

ul {
    display: table;
    padding: 0;
    
    width: 100%;
}
.current{
    background-color: orangered;
}