<div [style.display]='"block"' (mousemove)="modifySliderPos($event)">
	<div>
		<ul class="bar">
			<li *ngFor="let day of dateline">
				<div class="seperator">
					<span> {{day}} </span>
				</div>
			</li>
		</ul>
	</div>


	<div></div>
	<div (click)= "eventClick($event)">
		<ul class="time" id="time"  (mousemove)= "findDataSector($event)">
			<li *ngFor="let time of timelineTag">
				<div class="seperator">
					<time></time>
				</div>
			</li>
		</ul>
	</div>
</div>



<article>
	<input id="dataTag" [(ngModel)]="dataTag" />
</article>

<div>
	
</div>

<div class="slider"  [style.left.px]="slide" (mouseup)="eventUp()" (mousedown)="eventDown($event)" >
</div>
