<div [style.display]='"block"' (mousemove)="modifySliderPos($event)">
	<div>
		<ul class="bar">
			<li *ngFor="let day of dateline">
				<div class="seperator">
					<span> {{day}} </span>
				</div>
			</li>
		</ul>
	</div>

	<div (click)= "eventClick($event)" id="timeline">
		<ul class="time" id="time"  (mousemove)= "findDataSector($event)">
			<li *ngFor="let time of timelineTag">

					<time></time>
			</li>
		</ul>
	</div>


	<div class="slider"  [style.left.px]="slide" (mouseup)="eventUp()" (mousedown)="eventDown($event)" ></div>
</div>



<article>
	<input id="dataTag" [(ngModel)]="dataTag" />
</article>

<h2>{{result}}</h2>


