<h2>{{result}}</h2>

<div>
	<label for="days">Numbers of days from now : {{days}}</label>
	<input id="days" type="button" (click)="increase()" value="+">
	<input id="days" type="button" (click)="decrease()" value="-">

</div>




<div (mousemove)="modifySliderPos($event)">
	<div>
		<ul class="bar">
			<li *ngFor="let day of dateline">
				<div class="seperator">
					<span> {{day}} </span>
				</div>
			</li>
		</ul>
	</div>

	<div (click)="eventClick($event)" id="timeline">
		<ul *ngIf="timelineTag" class="time" id="time" (mousemove)="findDataSector($event)">
			<li class="timelist" *ngFor="let time of timelineTag">
			<time> </time>
			</li>
		</ul>
	</div>


	<div class="slider" [style.left.px]="slide" (mouseup)="eventUp()" (mousedown)="eventDown($event)"></div>
</div>